<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Name is Ayush</h2>
  <h3>location: Delhi</h3>
  <h1>Annual salary: {{ getAnnualSalary() }}</h1>
  <img [src]="logo"/>
  Enter Your Name:
  <input type="text" placeholder="Type Your Name here" [(ngModel)]="username">
  <br>
  <button (click) = "greetUser()">greet</button>
</body>
</html>