section{
    background-color: blue;
    padding: 15px;

}

section div:first-child{
    border-bottom: 1px brown;
    margin-bottom: 5px;

}

section div:last-child{
    font-weight: bolder;
}